/** Landing Page Styles **/

body {
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header{
    display: flex;
    padding-left: 150px;
    padding-right:150px;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.links-right ul {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    gap: 18px;
    
}

.hero {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #1f2937;
    align-items:start;
    justify-content: space-between;
    flex-grow: 0;
}

.hero-left, .hero-right {
    flex: 1 1 0px;
}

.hero-left {
    display: flex;
    flex-direction: column;

}

.hero-right {
    padding-left: 10px;
}

.awesome-text {
    font-size: 48px;
    color: #F9FAF8;
}

.awesome-subtext {
    font-size: 18px;
    color:#E5E7EB
}

.hero-button {
    background-color: #3882F6;
    width:100px;
    border: none;
    border-radius: 6px;
    color:#E5E7EB;
    margin-top: 10px;;
    padding: 5px;
    
}

.random-text {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 36px;
    color: #1f2937;
    font-weight:bolder;
}

.random-info {
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 80px;
    justify-content: space-between;
    gap: 50px;
    text-align: center;
}

.random-info-item {
    font-size: 18px;
    color: #1f2937;
}

.box {
    border-radius: 15px;
    border-color: #3882F6;
    border-width: 3px;
    border-style: solid;
    height: 150px;
    margin-bottom: 10px;
}

.quote {
    background-color: #E5E7EB;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quote-author{
    margin-top: 10px;
    text-align: right;
    font-weight: bold;
}

.action {
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 40px;
    align-items:start;
    justify-content: space-around;
    flex-grow: 0;
    border-radius: 15px;
    border-color: #3882F6;
    background-color: #3882F6;
    border-width: 3px;
    border-style: solid;
    flex-grow: 1;

}

.action .hero-button{
    border-color: #E5E7EB;
    border-width: 1px;
    border-style: solid;
}

.action-text {
    font-weight: bold;
    font-size: 20px;
    color: #E5E7EB;
    padding-bottom: 2px;
}
.action-subtext {
    color: #E5E7EB;
}

.footer {
    background-color: #1f2937;
    padding: 25px;
    color: #E5E7EB;
    text-align: center;
}
